/*  your css code here. If applicable */
body{
	height:100%;
	width:100%;
	background:purple;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	
}
.container{
	
	height:50px;
	width:550px;
	display:flex;
	flex-direction:row;
	align-items:center;
	/* justify-content:center; */
	justify-content:space-evenly;
	gap:25px;
	margin-top:35%;
	background:white;
	
}